﻿@model IEnumerable<AVI_IT.ViewModels.HelpDeskViewModel>
<div class="container-sm">
    <fieldset>
        @using (Html.BeginForm())
        {
            <table class="table table-striped" style="margin: 20px 0 0 0">

                <tr>
                    <th>@Html.DisplayNameFor(m => m.ticketID)</th>
                    <th>@Html.DisplayNameFor(m => m.ticketDescription)</th>
                    <th>@Html.DisplayNameFor(m => m.category)</th>
                    <th>@Html.DisplayNameFor(m => m.empName)</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ticketID</td>
                        <td>@item.ticketDescription</td>
                        <td>@item.category</td>
                        <td>@item.empName</td>

                    </tr>
                }
            </table>}
        
        <div class="col">
            <input type="button" class=" btn btn-primary form-control" align="center" value="Manage Helpdesk Tickets" onclick="location.href='@Url.Action("ManageTickets", "AdminPage")'" />
        </div>
        <br />
        <div class="col">
            <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
        </div>
    </fieldset>
</div>

