﻿@model AVI_IT.ViewModels.HelpDeskViewModel;

<div class="container">
    <fieldset>
        @using (Html.BeginForm())
        {
          

    <h2 style="text-align:center;font-weight:bold">Your ticket was successfully submitted</h2>

                    <div class="col-8" style="text-align:center">

                        <input type="button" class="btn btn-primary" value="Done" onclick="window.location= '@Url.Action( "Home", "Home")'" />
                    </div>}
    </fieldset>
</div>

