﻿@model AVI_IT.ViewModels.HelpDeskViewModel


<fieldset>
    @using (Html.BeginForm())
    {
        <div class="container container-margin">

            <form method="post">
                <div class="form-group">
                    <div class="row m-4 text-center">

                        <div class="col-2">

                        </div>
                        <div class="col-4">
                            <h2 style="text-align:center;font-weight:bold">Get A Ticket</h2>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-2" style="text-align:left">
                            @Html.LabelFor(m => m.category)
                        </div>
                        <div class="col-4">
                            @Html.DropDownListFor(m => m.category, new SelectList(Model.categoryList, "Value", "Text"), "Select category", new { @class = "form-control" })@Html.ValidationMessageFor(model => model.category,
"", new { @class = "text-danger validationSize" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-2" style="text-align:left">
                            @Html.LabelFor(m => m.ticketDescription)
                        </div>
                        <div class="col-4">
                            @Html.TextAreaFor(m => m.ticketDescription, new { @class = "form-control" })@Html.ValidationMessageFor(model => model.ticketDescription,
                            "", new { @class = "text-danger validationSize" })
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-2">

                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3 validationSize">
                            <dnt-captcha asp-captcha-generator-max="999999"
                                         asp-captcha-generator-min="111111"
                                         asp-captcha-generator-language="English"
                                         asp-captcha-generator-display-mode="ShowDigits"
                                         asp-use-relative-urls="true"
                                         asp-placeholder="Enter Captcha"
                                         asp-font-name="Tahoma"
                                         asp-font-size="20"
                                         asp-fore-color="#333333"
                                         asp-back-color="#ccc"
                                         asp-text-box-class="text-box form-control"
                                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span>{0}"
                                         asp-validation-error-message="Please enter the security code"
                                         asp-validation-message-class="text-danger"
                                         asp-refresh-button-class="fas fa-redo btn-sm"
                                         asp-use-noise="false" />
                        </div>
                    </div>

                </div>
                <div class="row m-3">
                    <div class="col-2">

                    </div>

                    <div class="col-4" style="text-align:left">
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>

                </div>
                

            </form>
            
        </div>

    }
</fieldset>



