﻿@model IEnumerable<AVI_IT.Models.Quotation>
<div class="container">
    <fieldset>
        @using (Html.BeginForm())
        {
            <table class="table table-striped" style="margin: 20px 0 0 0">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.quoteID)</th>
                    <th>@Html.DisplayNameFor(m => m.description)</th>
                    <th>@Html.DisplayNameFor(m => m.firstName)</th>
                    <th>@Html.DisplayNameFor(m => m.lastName)</th>
                    <th>@Html.DisplayNameFor(m => m.phone)</th>
                    <th>@Html.DisplayNameFor(m => m.email)</th>
                    <th>@Html.DisplayNameFor(m => m.empName)</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.quoteID</td>
                        <td>@item.description</td>
                        <td>@item.firstName</td>
                        <td>@item.lastName</td>
                        <td>@item.phone</td>
                        <td>@item.email</td>
                        <td>@item.empName</td>
                    </tr>
                }
            </table>
         }
            <div class="col">
                <input align="centre" type="button" class=" btn btn-primary form-control" value="Manage Quotations" onclick="location.href='@Url.Action("ManageQuotes", "AdminPage")'" />
            </div>
            <br />
            <div class="col">
                <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
            </div>
    </fieldset>
</div>