﻿@model IEnumerable<AVI_IT.Models.Quotation>
<fieldset>
    @using (Html.BeginForm())
    {
        <h2 style="text-align:center;font-weight:bold">Your quotation request was successfully submitted</h2>
        <div class="col-8" style="text-align:center">
            <input type="button" class=" btn btn-primary" value="Done" onclick="location.href='@Url.Action("Home", "Home")'" />
        </div>
    }
</fieldset>
