﻿@model AVI_IT.Models.Quotation


<fieldset>
    @using (Html.BeginForm())
    {
    <div class="container container-margin">

        <div class="row m-5">
            <div class="col-4">

            </div>
            <div class="col-4">
                <h2 style="text-align:center;font-weight:bold">Get A Quote</h2>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-4" style="text-align:left">
                @Html.LabelFor(m => m.firstName)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
                <span class="text-danger validationSize">@Html.ValidationMessageFor(m => m.firstName)</span>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-4" style="text-align:left">
                @Html.LabelFor(m => m.lastName)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
                <span class="text-danger validationSize">@Html.ValidationMessageFor(m => m.lastName)</span>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-4" style="text-align:left">
                @Html.LabelFor(m => m.email)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                <span class="text-danger validationSize">@Html.ValidationMessageFor(m => m.email)</span>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-4" style="text-align:left">
                @Html.LabelFor(m => m.phone)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                <span class="text-danger validationSize">@Html.ValidationMessageFor(m => m.phone)</span>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-4" style="text-align:left">
                @Html.LabelFor(m => m.description)
            </div>
            <div class="col-4">
                @Html.TextAreaFor(m => m.description, new { @class = "form-control" })
                <span class="text-danger validationSize">@Html.ValidationMessageFor(m => m.description)</span>
            </div>
        </div>
        @Html.HiddenFor(m => m.userID)
        <div class="row m-3">
            <div class="col-4">

            </div>
            <div class="col-4">
                <div class="input-group mb-3 validationSize">
                    <dnt-captcha asp-captcha-generator-max="999999"
                                 asp-captcha-generator-min="111111"
                                 asp-captcha-generator-language="English"
                                 asp-captcha-generator-display-mode="ShowDigits"
                                 asp-use-relative-urls="true"
                                 asp-placeholder="Enter Captcha"
                                 asp-font-name="Tahoma"
                                 asp-font-size="20"
                                 asp-fore-color="#333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span>{0}"
                                 asp-validation-error-message="Please enter the security code"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-use-noise="false" />
                </div>
            </div>

        </div>
        <div class="row m-3">
            <div class="col-4">

            </div>

            <div class="col-4" style="text-align:left">
                <input class="btn btn-primary form-control" type="submit" value="Submit">
            </div>

        </div>

    </div>}
</fieldset>