﻿@model AVI_IT.ViewModels.AdminPageViewModel


<div class="container-sm">


        @using (Html.BeginForm())
        {
        <form method="post">

            <div class="col-8">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col">
                        <input type="button" class=" btn btn-primary form-control" value="Create Role" onclick="location.href='@Url.Action("CreateRole", "Administration")'" />
                    </div>
                }

                <br />
                @if (User.IsInRole("Admin"))
                {
                    <div class="col">
                        <button class=" btn btn-primary form-control" asp-action="Index" asp-controller="UserRoles">Manage Roles</button>
                    </div>
                }

                <br />
                <div class="col">
                    <input type="button" class=" btn btn-primary form-control" value="Manage Helpdesk Tickets" onclick="location.href='@Url.Action("ManageTickets", "AdminPage")'" />
                </div>
                <br />
                <div class="col">
                    <button class=" btn btn-primary form-control" asp-action="Display" asp-controller="HelpDesk">View Helpdesk Tickets</button>
                </div>
                <br />
                <div class="col">
                    <input type="button" class=" btn btn-primary form-control" value="Manage Quotations" onclick="location.href='@Url.Action("ManageQuotes", "AdminPage")'" />
                </div>
                <br />
                <div class="col">
                    <button class=" btn btn-primary form-control" asp-action="Display" asp-controller="Quotation">View Quotations</button>
                </div>
                <br />
                <div class="col">
                    <button class=" btn btn-primary form-control" asp-action="Index" asp-controller="ProductTypes">Manage Product Types</button>
                </div>
                <br />
                <div class="col">
                    <button class=" btn btn-primary form-control" asp-action="Index" asp-controller="Product">Manage Products</button>
                </div>
                <br />
                <div class="col">
                    <button class=" btn btn-primary form-control" asp-action="ManageBlog" asp-controller="Blog">Manage Blog</button>
                </div>
                <br />
                <div class="col">
                    <input type="button" class=" btn btn-primary form-control" value="Manage Service" onclick="location.href='@Url.Action("ManageService", "AdminPage")'" />
                </div>


            </div>
            
        </form>
        }
</div>
