﻿@model IEnumerable<AVI_IT.Models.Service>

<div class="container-sm">
    <div class="row py-2">
        <div class="col-4 ">
            <button class=" btn btn-primary btn-lg form-control">@Html.ActionLink("AddService", "AddService", "Home")</button>
        </div>
        <br />
    </div>


    <fieldset>
        @using (Html.BeginForm())
        {

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Tile</th>
                        <th>Content</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(m => item.serviceID)
                            <td>
                                @item.serviceTitle
                            </td>
                            <td>@item.serviceContent</td>
                            <td> <button class=" btn btn-warning form-control "> 
                                
                                @Html.ActionLink("Edit", "EditService", "Home", new { @id = item.serviceID})</button></td>
                            <td>
                                <a class="btn btn-danger delete"
                                   data-id="@item.serviceID"
                                   data-controller="AdminPage"
                                   data-action="DeleteService"
                                   data-body-message="Are you sure to delete this service?">
                                    Delete
                                </a>
                                <!-- Button trigger modal -->
                                <!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteServiceModal">
                                    Delete
                                </button>-->

                                <!-- Modal -->
                                <!--<div class="modal fade" id="deleteServiceModal" tabindex="-1" role="dialog" aria-labelledby="deleteServiceModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteServiceModalLabel">Delete Service</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to delete this service?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger">
                                                    @Html.ActionLink("Delete", "DeleteService", "AdminPage", new { @Id = @item.serviceID })
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </td>

                        </tr>
                    }
                </tbody>


            </table>
        }
    </fieldset>
</div>
<script src="~/javascript/Delete.js"></script>
   







