﻿
<div class="container-sm">

    <fieldset>
        @using (Html.BeginForm())
        {
        <form method="post">
            <h2>Quotations</h2>
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Quotation Number</th>
                        <th>Assign Employee</th>
                    </tr>
                </thead>
                @if (Model.dictQoute != null)
                {
                    @foreach (var quote in Model.dictQoute)
                    {
                        <tr>
                            <td>@quote.Key</td>
                            <td>
                                <select class="form-control" id="quote_Value" name="selecteddictQuote[@quote.Key]" asp-items=@quote.Value>
                                    <option value="">Assign Employee</option>
                                </select>
                            </td>
                        </tr>
                    }
                    
                }

            </table>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Assign</button>
            </div>
        <br />
            <div class="col">
                <button class=" btn btn-primary form-control" asp-action="Display" asp-controller="Quotation">View Quotations</button>
            </div>
        <br />
            <div class="col">
                <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
            </div>
        </form>}

    </fieldset>

</div>