﻿
<div class="container-sm">
    <fieldset>

        @using (Html.BeginForm())
        {
        <form method="post">
            <h2>Helpdesk Tickets</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Assign Employee</th>
                    </tr>
                </thead>
                @if (Model.dict != null)
                {
                    @foreach (var ticket in Model.dict)
                    {
                        <tr>
                            <td>@ticket.Key</td>
                            <td>
                                <select class="form-control" id="ticket_Value" name="selecteddict[@ticket.Key]" asp-items=@ticket.Value>
                                    <option value="">Assign Employee</option>
                                </select>
                            </td>
                        </tr>
                    }
                }

            </table>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Assign</button>
            </div>
            <br />
            <div class="col">
                <button class=" btn btn-primary form-control" asp-action="Display" asp-controller="HelpDesk">View Helpdesk Tickets</button>
            </div>
            <br />
            <div class="col">
                <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
            </div>

        </form>}

    </fieldset>

</div>
