﻿body {
    font-family: 'Open Sans', serif;
    font-weight: bold;
}

ul li {
    list-style: none;
    display: inline;
}

a {
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin: 0 0 0 0;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    padding: 20px 10px;
    list-style: none;
    align-items: center;
    background-color: #2c698d;
    margin-top: 40px;
    font-family: 'Open Sans', serif;
    font-weight: 200;
}

ul li {
    list-style: none;
    display: inline;
}

.footerTitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.social-row {
    font-size: 20px;
}

    .social-row li a {
        margin: 0 15px;
    }

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}

    .form-control:focus {
        border-color: #5cb85c;
    }

.form-control {
    border-radius: 50px;
}
.btn {
    border-radius: 50px;
    outline: none !important;
}

.signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}

    .signup-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        padding: 40px;
    }

    .signup-form a {
        text-align: center;
        color: black;
        
    }

    .signup-form h2 {
        text-align: center;
        font-size: 34px;
        margin: 10px 0 15px;
    }

    .signup-form .hint-text {
        color: #999;
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form .btn {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
    }

.signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
}

    .signup-btn:hover {
        background: #5cb85c;
        opacity: 0.8;
    }

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

    .or-seperator b {
        padding: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }


.svg-icon {
    width: 2em;
    height: 1em;
}

    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
        fill: #4691f6;
    }

    .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
    }

.images {
    border-radius: 50%;
    max-width: 90%;
    max-height: 90%;
}

.overlay-images {
    max-width: 100%;
    max-height: 100%;
}

.col p-5 {
    border: 1px black solid !important;
}

.heading3 {
    margin-top: 20px;
    font-family: 'Itim', cursive;
    font-weight: bold;
    text-align: center;
}

.blogTitle {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Itim', cursive;
    text-align: left;
    margin-bottom: 20px;
}

#blogImage {
    max-width: none;
    max-height: none;
}

.subHeading {
    font-size: 24px;
    margin: 50px 50px 30px 50px;
    font-weight: bold;
    text-align: left;
}

.blogContent {
    font-size: 18px;
    margin: 0 150px 0 50px;
    text-align: left;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#allComments {
    background-color: lightslategrey;
}

.displayComment {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.commentBox {
    width: 1100px;
    height: 150px;
}

.commentHeading {
    text-align: center;
    font-weight: 900;
    margin: 0 0 20px 0;
}

.validationSize {
    font-size:12px;
    color: red;
}
.fa-plus-circle{
    color: green;
}
.fa-minus-circle {
    color: orangered;
}
.dropdown-menu, .dropdown-item {
    background-color: #2c698d;
    color: black;
}

#logoutDropdownToggle a:hover
{
    color:darkslateblue !important;
    
}


