﻿@model AVI_IT.Models.JobResumesModel


@using Microsoft.AspNetCore.Http;
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AVIV-IT</title>
    <meta name="description" content="A lynda.com example of HTML5 and CSS3">
    <meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&Lora&display=swap" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script type="text/javascript"></script>




</head>

<body>


    <fieldset>
        <a asp-action="DisplayEachJob" asp-controller="JobPortal" asp-route-id="jobID" type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Apply Now
        </a>
        <form asp-action="Upload" asp-controller="JobPortal" method="post" enctype="multipart/form-data">
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                @*@Html.DisplayFor(m => m.jobTitle)*@

                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-2">
                                    @Html.LabelFor(m => m.resumecontent)
                                </div>
                                <div class="col-5">
                                    <input asp-for="resumecontent" class="form-control" type="file" />
                                    <span asp-validation-for="resumecontent" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group row">
                                    <div class="col-2">
                                        @Html.LabelFor(m => m.coverlettercontent)
                                    </div>
                                    <div class="col-5">
                                        <input asp-for="coverlettercontent" class="form-control" type="file" />
                                        <span asp-validation-for="coverlettercontent" class="text-danger"></span>
                                    </div>
                                </div>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @*<script src="script.js"></script>*@

</body>
</html>




