﻿@using Microsoft.AspNetCore.Http;
@using AVI_IT.Utilities
@using AVI_IT.Models
@using AVI_IT.ViewModels
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUserHelper> signInManager
@model List<AVI_IT.Models.Product>
@{
    int count = 0;
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    if (products == null)
    {
        products = new List<Product>();
    }
    else
    {
        foreach (var prod in products)
        {
            count += prod.prodCount;
        }

    }
}


@if (count == 0)
{

}
else
{

    <div class="container bg-lightblue">
        <fieldset>
            <h3 class="heading3">Cart</h3>

            <br />
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="card" style="width:10rem;margin:10px 20px 10px 20px;">
                        <img src="~/@item.image" class="img-fluid" style="max-width:150px;height:100px;" />
                        <div class="card-body">
                            <p class="card-subtitle">Product: @item.productName</p>
                            <p class="card-subtitle">Price: $@item.price</p>
                            <p class="card-subtitle">Quantity: @item.prodCount</p>
                        </div>
                    </div>
                }

            </div>

        </fieldset>

    </div>
}




