﻿@model AVI_IT.Models.Email
<fieldset>
    @using (Html.BeginForm())
    {
        <div class="container-fluid" style="margin: 0 0 100px 0">

            <form method="post">
                <div class="row">
                    <div class="col">

                        <div class="form-group">

                            <div class="row">
                                <div class="col-8" style="text-align:center; margin: 0 0 0 60px">
                                    @Html.LabelFor(m => m.toEmail):&nbsp; @Html.Label("AVIV IT")
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" style="text-align:left">
                                    @Html.LabelFor(m => m.fromEmail)
                                </div>
                                <div class="col-4">
                                    @Html.TextBoxFor(m => m.fromEmail, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" style="text-align:left">
                                    @Html.LabelFor(m => m.title)
                                </div>
                                <div class="col-4">
                                    @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" style="text-align:left">
                                    @Html.LabelFor(m => m.message)
                                </div>
                                <div class="col-4">
                                    @Html.TextAreaFor(m => m.message, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">

                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="form-group">
                            <div class="row m-4">
                                <div style="text-align:left;font-weight:bold">
                                    Send Us an Email Regarding:
                                    <ol>
                                        <li>Job Posting</li>
                                        <li>Advertisment</li>
                                        <li>Blog Posting</li>
                                        <li>Any Problem Related Product</li>
                                    </ol>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        @Html.HiddenFor(m => m.toEmail)
    }
</fieldset>