﻿@using AVI_IT.Models
@model AVI_IT.ViewModels.LeaveCommentViewModel

@using (Html.BeginForm("Display", "Blog", FormMethod.Post))
{

    <fieldset>

        <h4 class="commentHeading">Leave a Comment</h4>
        @*@foreach (var b in Model.leaveComment)
            {
            var com = b.Comments; //put comments in variable com
            //com = null;*@
        @Html.HiddenFor(m => m.userID)
        @Html.HiddenFor(m => m.userName)
        @Html.TextAreaFor(m => m.comment, new { @class = "commentBox" })
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>


    </fieldset>
}