﻿@model List<AVI_IT.Models.Product>


    <div class="container">
        <fieldset>
            <h3 class="heading3" style="margin-bottom:30px">Cart</h3>

            <div class="row">

                <table class="table">
                    <thead class="table-dark table-borderless">
                        <tr>
                            <th></th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Product type</th>
                            <th scope="col">Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    <img src="~/@item.image" class="img-fluid" style="max-width:150px;height:150px;" />
                                </td>
                                <td>@item.productName</td>
                                <td>@item.price</td>
                                <td>@item.productType.type</td>
                                <td>@item.prodCount</td>
                                <td>
                                    <div class="row">
                                        <div class="col-2">
                                            <form method="post">
                                                <a asp-action="Add" asp-controller="OnlineShopping" asp-route-id="@item.productID" class="btn btn-warning">
                                                    <i class="fas fa-plus-circle"></i>
                                                </a>
                                            </form>
                                        </div>
                                        <div class="col-2">
                                            <form method="post">
                                                <a asp-action="RemoveOne" asp-controller="OnlineShopping" asp-route-id="@item.productID" class="btn btn-warning">
                                                    <i class="fas fa-minus-circle"></i>
                                                </a>
                                            </form>
                                        </div>
                                        <div class="col-2">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Remove Product</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure to delete this product from cart?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a asp-action="Remove" asp-controller="OnlineShopping" asp-route-id="@item.productID" class="btn btn-danger ">
                                                                <i class="fas fa-trash-alt"></i></a>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                          </div>
                                    </div>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row py-5">
                <div class="col-6">
                    
                </div>
                @if (@Model.Count() > 0)
                {
                    <div class="col-6 text-right">
                        <h5><strong>Total Amount: $</strong>@Model.Sum(m => m.price * m.prodCount)AUD</h5>
                        <a asp-action="Checkout" asp-controller="OnlineShopping" class="btn btn-info">Go to checkout</a>
                    </div>
                }

            </div>
        </fieldset>

    </div>

