﻿<div class="container" style="margin: 0 0 500px 100px">
    <br />
    <h3>Your cart is empty</h3>
    <br />
    <br />
    <div class="col">
        <a asp-controller="OnlineShopping" asp-action="Index">
            <input type="button" class="btn btn-success btn-sm" value="Go back" />
        </a>
    </div>
</div>