﻿@model AVI_IT.ViewModels.TestViewModel
@*@using AVI_IT.ViewModels
@using AVI_IT.Models
@model Tuple<List<ProductViewModel>, List<ProductType>, PriceRange[]>*@

<fieldset>
    @using (Html.BeginForm())
    {
        <div class="container" style="margin: 20px 0 20px 0">
            <div class="row">
                <div class="col-4 border-right">

                    <div class="accordion" id="accordionPanelsStayOpenExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Category
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    @*@foreach (var item in Model)
                                        {
                                                
                                                @Html.CheckBoxFor(k => item.productType.bType) @item.productType.type < br />
                                            

                                        }*@
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    PriceRange
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    @*@foreach (var item in Model)
                                    {

                                            @Html.CheckBoxFor(k => item.proRange.bRange) @item.proRange.range<br />
                                        


                                    }*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-8">

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @*display each item to the customer*@
                        @* Expected Outcome-for UI testing Purpose*@

                        @foreach (var item in Model.lProd)
                        {
                            <div class="col">
                                <a asp-controller="OnlineShopping"
                                   asp-action="ItemDetail"
                                   asp-route-id="@item.productID">
                                    <div class="card border-dark h-100" id="cardShopping">
                                        <img src="~/images/product1.jpg" class="card-img-top" />
                                        <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(m => item.productName)</h5>
                                            <p class="card-text text-muted">@Html.DisplayFor(m => item.productType.type) </p>
                                            <p class="card-text">@Html.DisplayFor(m => item.productDes) </p>
                                            <div class="row">
                                                <div class="col-4">
                                                    <strong>$@Html.DisplayFor(m => item.price)</strong>
                                                </div>
                                                <div class="col-8">
                                                    <input class="btn btn-success" type="button" value="Add To Cart" />

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    }
    </fieldset>



