﻿@using AVI_IT.Models
@model List<Product>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid" >
   <div class="row">
       <p class="heading3" style="font-size:30px">AVIV-IT Products</p>
   </div>
    <div class="row">
        <div class="col-10">
            <div class=" row">
                @foreach (var product in Model)
                {
                    <div class="col-4">
                        <div class="card mb-4 ">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-bold">
                                    <label style="font-size: 23px;color: steelblue;text-align:center">@product.productName</label>
                                </h4>
                                <img src="~/@product.image" alt="Card Image" class="card-img-top" style="max-width:250px;height:250px;" />

                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-cotent-between">
                                    <div class="btn-group">
                                        <label style="font-size: 20px; color: darkred;margin:0 15px 0 0 "><b>Price: $@product.price</b></label>
                                    </div>
                                    <a asp-action="Details" asp-controller="OnlineShopping" asp-route-id="@product.productID" class="btn btn-success">More Detail</a>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>

        <div class="col-2 py-2">
          @await Component.InvokeAsync("OnlineShopping") 
        </div>

    </div>
</div>



