﻿@*@model AVI_IT.ViewModels.ProductViewModel


<div class="container" style="margin: 20px 0 20px 0">
    <div class="row">
        <div class="col-4 border-right">

            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Category
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            @foreach (var item in Model.proType)
                            {
                                @Html.CheckBoxFor(k => item.bType) @item.type<br />

                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            PriceRange
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            @foreach (var item in Model.proRange)
                            {
                                @Html.CheckBoxFor(k => item.bRange) @item.range<br />

                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-8">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                display each item to the customer
                Expected Outcome-for UI testing Purpose
                <div class="col">
                    <a asp-controller="OnlineShopping"
                       asp-action="ItemDetail">
                        <div class="card border-dark h-100" id="cardShopping">
                            <img src="~/images/product1.jpg" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => m.productName)</h5>
                                <p class="card-text text-muted">@Html.DisplayFor(m => m.type) </p>
                                <p class="card-text">@Html.DisplayFor(m => m.productDes) </p>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>$@Html.DisplayFor(m => m.price)</strong>
                                    </div>
                                    <div class="col-8">
                                        <input class="btn btn-success" type="button" value="Add To Cart" />

                                     </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="col">
                    <a asp-controller="OnlineShopping"
                       asp-action="ItemDetail">
                        <div class="card border-dark h-100" id="cardShopping">
                            <img src="~/images/product1.jpg" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => m.productName)</h5>
                                <p class="card-text text-muted">@Html.DisplayFor(m => m.type) </p>
                                <p class="card-text">@Html.DisplayFor(m => m.productDes) </p>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>$@Html.DisplayFor(m => m.price)</strong>
                                    </div>
                                    <div class="col-8">
                                        <input class="btn btn-success" type="button" value="Add To Cart" />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>


                <div class="col">
                    <a asp-controller="OnlineShopping"
                       asp-action="ItemDetail">
                        <div class="card border-dark h-100" id="cardShopping">
                            <img src="~/images/product1.jpg" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => m.productName)</h5>
                                <p class="card-text text-muted">@Html.DisplayFor(m => m.type) </p>
                                <p class="card-text">@Html.DisplayFor(m => m.productDes) </p>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>$@Html.DisplayFor(m => m.price)</strong>
                                    </div>
                                    <div class="col-8">
                                        <input class="btn btn-success" type="button" value="Add To Cart" />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>


                <div class="col">
                    <a asp-controller="OnlineShopping"
                       asp-action="ItemDetail">
                        <div class="card border-dark h-100" id="cardShopping">
                            <img src="~/images/product1.jpg" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => m.productName)</h5>
                                <p class="card-text text-muted">@Html.DisplayFor(m => m.type) </p>
                                <p class="card-text">@Html.DisplayFor(m => m.productDes) </p>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>$@Html.DisplayFor(m => m.price)</strong>
                                    </div>
                                    <div class="col-8">
                                        <input class="btn btn-success" type="button" value="Add To Cart" />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="col">
                    <a asp-controller="OnlineShopping"
                       asp-action="ItemDetail">
                        <div class="card border-dark h-100" id="cardShopping">
                            <img src="~/images/product1.jpg" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => m.productName)</h5>
                                <p class="card-text text-muted">@Html.DisplayFor(m => m.type) </p>
                                <p class="card-text">@Html.DisplayFor(m => m.productDes) </p>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>$@Html.DisplayFor(m => m.price)</strong>
                                    </div>
                                    <div class="col-8">
                                        <input class="btn btn-success" type="button" value="Add To Cart" />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>*@



