﻿@model AVI_IT.ViewModels.ProductViewModel
<fieldset>
    @using (Html.BeginForm())
    {
            <div class="container">
                <div class="row">
                    <h3 class="heading3">@Html.DisplayFor(m => m.productName)</h3>
                </div>
                <div class="row">
                    <div class="col-4 card-img-top">
                        <img src="~/images/product1.jpg" style="max-width:200px" />
                    </div>

                    <div class="col-8 py-5">
                        <div class="row">
                            <p class="text-muted">@Html.DisplayFor(m => m.productType.type)</p>
                        </div>
                        <div class="row">
                            <p>@Html.DisplayFor(m => m.productDes)</p>
                        </div>

                        @*<div class="row-cols-2">
                            <span>Quantity: @Html.TextBoxFor(m => m.cart.quantity)</span>
                        </div>*@

                        <div class="row-cols-3 py-5">
                            @*<a asp-controller="OnlineShopping" asp-action="Cart">
            <input type="button" class="btn btn-success btn-sm" value="Add To Cart" />
        </a>*@
                            @Html.HiddenFor(m => m.productID)
                            <input type="submit" class="btn btn-success btn-sm" value="Add to Cart" />

                        </div>

                    </div>

                </div>
            </div>
            
        }

    }
</fieldset>
