﻿@model AVI_IT.ViewModels.JobPortalViewModel

<div class="container-sm">
    <h3 class="heading3">Job Hiring Portal</h3>
    <div class="row" style="max-width:300px;margin-left:200px">
        @await Component.InvokeAsync("JobPortal")
    </div>

    <div class="row" id="btn-job">
        <button class="btn btn-success">@Html.ActionLink("Display All Job Listings", "DisplayAll", "JobPortal")</button>
    </div>
</div>
