﻿@model IEnumerable<AVI_IT.ViewModels.JobPortalViewModel>
@*using for loop to display all the blog in database*@

<style>
    #sortable tr:hover {
        background: #2c698d;
        color: #fff;
    }
</style>


<div class="container">
    <h3 class="heading3">All Job Posts</h3>
    <div class="card text-center p-2">
        <div class="card-body bg-transparent">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">JobTitle</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Author</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="sortable" style="cursor:pointer;">
                    @foreach (var v in Model)
                    {
                        <tr onclick="location.href = '@(Url.Action("JobAdmin", "JobPortal", new { @ji = v.jobID }))'">
                            <td>@v.jobID</td>
                            <td>@v.jobTitle</td>
                            <td>@v.jobPublishedDate</td>
                            <td>@Html.ActionLink("Edit", "Edit", "Blog", new { @Id = v.jobID })</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Blog", new { @Id = v.jobID })</td>
                            @*<td><partial name="_DisplayEmployeePartial" model="v"></td>*@

                        </tr>
                    }
                </tbody>
            </table>


            <button type="button" class="btn btn-outline-info">@Html.ActionLink("New Job Listing", "AddJob", "JobPortal")</button>
        </div>
        <div class="card-footer text-muted ">
            @*@Html.DisplayNameFor(m => m.publishedDate)| @Html.DisplayNameFor(m => m.firstName)*@
        </div>
    </div>

</div>
