﻿@model AVI_IT.ViewModels.JobPortalViewModel

<div class="container-sm">

    <div class="row" style="max-width:300px">
        @await Component.InvokeAsync("JobPortal")
    </div>

    @*<div style="margin: 20px 0 0 0">
            Filter: &nbsp;
            @Html.DropDownListFor(m => m.publishedDate, new SelectList(Model.dateList, "Value", "Text"), "Date",
        new { @class = "btn btn-secondary dropdown-toggle" })

            @Html.DropDownListFor(m => m.jobType, new SelectList(Model.typeList, "Value", "Text"), "Category",
           new { @class = "btn btn-secondary dropdown-toggle" })
        </div>*@

    <div class="card" style="margin: 20px 0 0 0">

        <div class="card-body">
            @Html.HiddenFor(m => m.jobID)
            <h3 class="card-title">@Html.DisplayFor(m => m.jobTitle)</h3>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(m => m.jobType) | @Html.DisplayFor(m => m.jobLocation)</h6>
            <p class="card-text"><small class="text-muted">Last updated on @Html.DisplayFor(m => m.jobPublishedDate)</small></p>
            @await Component.InvokeAsync("JobResume")



            <!--<a asp-action="DisplayEachJob" asp-controller="JobPortal" asp-route-id="jobID" type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Apply Now
                        </a>-->
            <!-- Modal -->
            <!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">


                                                    </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Upload Resume</label>
                                <input class="form-control" type="file">
                            </div>

                            <div class="mb-3" style="margin-top:10px">
                                <label for="formFile" class="form-label">Upload Cover Letter</label>
                                <input class="form-control" type="file">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>-->

            <p class="card-text border-top" style="font-size:18px;margin-top:10px">
                @Html.DisplayFor(m => m.jobDescription) Des
            </p>
        </div>


    </div>

</div>
