﻿<div class="container-sm">
    <h3 class="heading3">No Job Results Found</h3>


    <div class="row" id="btn-job">
        <button class="btn btn-success">@Html.ActionLink("Display All Job Listings", "DisplayAll", "JobPortal")</button>
    </div>
</div>
