﻿@model IEnumerable<AVI_IT.ViewModels.JobPortalViewModel>

<div class="container-sm">

    @*<div>
            @await Component.InvokeAsync("JobPortal")
        </div>*@



    @*onclick="location.href = '@(Url.Action("JobDescription", "JobPortal", new { @selectedJob = v.jobID }))'"*@

    <div class="card" style="margin: 20px 0 0 0">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="card-body ">
                    <form>

                        @foreach (var v in Model)


                        {@Html.HiddenFor(m => v.jobID)


                        <h5 class="card-title">@v.jobTitle | @v.jobLocation </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@v.jobType </h6>
                        <p class="card-text">@v.jobDescription</p>
                        <p class="card-text"><small class="text-muted">Last updated on @v.jobPublishedDate</small></p>
                        <span class="btn btn-success"> @Html.ActionLink("More Detail", "JobDescription", "JobPortal", new { @selectedJob = v.jobID })</span>
                        <p class="card-text"></p>
                    }

                    </form>
                </div>

            </li>

        </ul>
    </div>

</div>
