﻿@model AVI_IT.Models.PrivacyPolicy



    <fieldset>
        @using (Html.BeginForm())
        {
            <table class="table table-striped">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.headingId)</th>
                    <th>@Html.DisplayNameFor(m => m.headingName)</th>
                    <th>@Html.DisplayNameFor(m => m.description)</th>

                </tr>
                <tr>
                    <td>@Html.DisplayFor(m => m.headingId)</td>
                    <td>@Html.EditorFor(m => m.headingName)</td>
                    <td id="description">@Html.TextAreaFor(m => m.description, new { rows = "4", cols = "80" })</td>
                    <td><button type="submit" class="btn btn-primary form-control">Submit</button></td>
                </tr>
            </table>
        }
    </fieldset>