﻿@model IEnumerable<AVI_IT.Models.PrivacyPolicy>

<fieldset>
    @using (Html.BeginForm())
    {

        <table width="1000px" align="center">
            @foreach (var m in Model)
            {
                <tr><td style="font-size:x-large">@m.headingName</td></tr>
                <tr style="height: 15px;" />
                <tr><td>@m.description</td></tr>
                <tr style="height: 15px;" />
            }
            <tr><td><button class=" btn btn-primary" asp-action="Register" asp-controller="Account">Go Back</button></td></tr>
        </table>
        
    }
</fieldset>