﻿@model IEnumerable<AVI_IT.Models.PrivacyPolicy>

<fieldset>
    @using (Html.BeginForm())
    {
        <table class="table table-striped">
            <tr>
                <th>@Html.DisplayNameFor(m => m.headingId)</th>
                <th>@Html.DisplayNameFor(m => m.headingName)</th>
                <th>@Html.DisplayNameFor(m => m.description)</th>
                <th>@Html.ActionLink("Create", "Create")</th>
                <th>@Html.ActionLink("Edit", "Edit")</th>


            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.headingId</td>
                    <td>@m.headingName</td>
                    <td>@m.description</td>
                </tr>
            }
     </table>
    }
</fieldset>