﻿@model int

<td style="width: 150px">
    <div class="btn-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model">Edit</a>
        <a asp-action="Details" class="btn btn-success" asp-route-id="@Model">Details</a>
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model">Delete</a>

    </div>
</td>
