﻿@using Microsoft.AspNetCore.Http;
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AVIV-IT</title>
    <meta name="description" content="A lynda.com example of HTML5 and CSS3">
    <meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&Lora&display=swap" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script type="text/javascript"> </script>

     
      

</head>

<body>
    <div>
        <header>
            <div class="row">
                <nav class="navbar navbar-light" style="background-color: #2c698d">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1">@Html.ActionLink("AVIV-IT", "Home", "Home")</span>
                    </div>
                </nav>
            </div>
        </header>
        <div>
            <section style="margin:20px 0 20px 0">
                @RenderBody()

            </section>
        </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @*<script src="script.js"></script>*@
    
</body>
</html>


