﻿@using Microsoft.AspNetCore.Http;
@using AVI_IT.Utilities
@using System.Net.Http
@using AVI_IT.Models
@using AVI_IT.ViewModels 
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUserHelper> signInManager
@{ 
    int count = 0;
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    if(products == null)
    {
        products = new List<Product>();
    }
    else
    {
        foreach(var prod in products)
        {
            count += prod.prodCount;
        }

    }
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AVIV-IT</title>
    <meta name="description" content="A lynda.com example of HTML5 and CSS3">
    <meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&Lora&display=swap" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="~/javascript/Delete.js"></script>
   

</head>

<body>
    <div>
        <header>
        
            <nav class="navbar navbar-expand-lg navbar-light sticky-top p-2" style="background-color: #2c698d">
                <div class="container">

                    <a asp-controller="Home" asp-action="Home" class="navbar-brand">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <div class="nav-item col-1">
                            @Html.ActionLink("Service", "Service", "Home")
                        </div>
                        <div class="nav-item col-1">
                            @Html.ActionLink("JobPortal", "Job", "JobPortal")
                        </div>
                        <div class="nav-item col-1">
                            @Html.ActionLink("Quotation", "Index", "Quotation")
                        </div>
                        <div class="nav-item col-1">
                            @Html.ActionLink("HelpDesk", "GetTicket", "HelpDesk")
                        </div>
                        <div class="nav-item col-1">
                            @Html.ActionLink("Blog", "Index", "Blog")
                        </div>
                        <div class="nav-item col-1">
                            @Html.ActionLink("Shop", "Index", "OnlineShopping")
                        </div>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <div class="nav-item col-1" style="text-align:right">

                                @Html.ActionLink("Admin", "Index", "AdminPage")

                            </div>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {

                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                   
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><div class="dropdown-item"> Welcome @User.Identity.Name</div></li>
                                    <li> <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item col-1">
                                @Html.ActionLink("Login", "Login", "Account")
                            </div>

                        }

                        <div class="nav-item col-2" style="text-align:left">
                            @*<button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">*@
                            @if (count == 0)
                            {
                                <a asp- asp-action="EmptyCart" asp-controller="OnlineShopping" class="btn btn-dark">


                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span class="badge bg-warning text-dark">@count</span>
                                </a>
                            }
                            else
                            {
                                <a asp- asp-action="Cart" asp-controller="OnlineShopping" class="btn btn-dark">


                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span class="badge bg-warning text-dark">@count</span>
                                </a>
                            }



                            @*</button>*@
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                <div class="offcanvas-header">
                                    <h3 class="heading3" id="offcanvasRightLabel" style="text-align:center"> In Cart</h3>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    @*@await Component.InvokeAsync("OnlineShopping")*@

                                </div>
                            </div>


                        </div>


                    </div>
                </div>

            </nav>

        </header>

        <div>
            <section style="margin:20px 0 20px 0">


                @RenderBody()


            </section>

        </div>

        <footer class="footer mt-0 py-3">
            <div class="row">
                <div class="col">
                    <ul class="footerTitle">Contact Us</ul>
                    <ul>@Html.ActionLink("Email Us", "Email", "Comm") </ul>
                    <ul>Phone: </ul>

                    <ul>
                        Social Media:
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                        </a>
                    </ul>

                </div>

                <div class="col ">
                    <ul class="footerTitle">Job</ul>
                    <ul>@Html.ActionLink("Job Seeker", "Job", "JobPortal")</ul>
                    <ul>@Html.ActionLink("Employee Seeker", "Email", "Comm")</ul>
                </div>

                <div class="col">
                    <ul class="footerTitle">Blog</ul>
                    <ul>@Html.ActionLink("Post Blog", "Email", "Comm")</ul>
                    <ul>@Html.ActionLink("Browse", "Index", "Blog")</ul>
                </div>

                <div class="col">
                    <ul class="footerTitle">Help</ul>
                    <ul>@Html.ActionLink("Raise Ticket", "GetTicket", "HelpDesk")</ul>
                    <ul>@Html.ActionLink("Get A Quote", "Index", "Quotation")</ul>
                    <ul>@Html.ActionLink("Get Transaction", "Index", "Transaction")</ul>
                </div>

            </div>
            <div class="row m-2">
                Copyright ©2017-2021 Aviv-IT
            </div>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>


