﻿@model AVI_IT.ViewModels.ShipingDetailViewModel
@{
    Layout = "_Layout";
}
<fieldset>
    @using (Html.BeginForm())
    {
        <div class="container">

            <form method="post">
                <div class="row">
                    <div class="col-3">
                        <div class="row text-center py-2">
                            <h3 class="heading3">Input Shipping Detail</h3>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-floating">

                                    <input type="text" class="form-control" asp-for="@Model.user.firstName" id="floatingFirstName" placeholder="John">
                                    <label asp-for="@Model.user.firstName" for="floatingFirstName"></label>
                                    <span asp-validation-for="@Model.user.firstName" class="text-danger validationSize"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="form-floating">

                                    <input type="text" class="form-control" asp-for="@Model.user.lastName" id="floatingLastName" placeholder="Doe">
                                    <label asp-for="@Model.user.lastName" for="floatingLastName"></label>
                                    <span asp-validation-for="@Model.user.lastName" class="text-danger validationSize"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="form-floating">

                                    <input type="email" class="form-control" asp-for="@Model.user.Email" id="floatingEmail" placeholder="name@example.com">
                                    <label asp-for="@Model.user.Email" for="floatingEmail"></label>
                                    <span asp-validation-for="@Model.user.Email" class="text-danger validationSize"></span>
                                </div>

                            </div>
                        </div>

                        <div id="inputAddress"  type="hidden">
                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" asp-for="@Model.user.PhoneNumber" id="floatingPhone" placeholder="0455555666">
                                        <label for="floatingPhone">Phone Number</label>
                                        <span asp-validation-for="@Model.user.PhoneNumber" class="text-danger validationSize"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" asp-for="@Model.address.addressLine1" id="floatingAddressLine1" placeholder="45 JCourt Street">
                                        <label asp-for="@Model.address.addressLine1" for="floatingAddressLine1"></label>
                                        <span asp-validation-for="@Model.address.addressLine1" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" asp-for="@Model.address.suburb" id="floatingSuburb" placeholder="Dandenong">
                                        <label asp-for="@Model.address.suburb" for="floatingSuburb"></label>
                                        <span asp-validation-for="@Model.address.suburb" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" asp-for="@Model.address.state" id="floatingState" placeholder="VIC">
                                        <label asp-for="@Model.address.state" for="floatingSTate"></label>
                                        <span asp-validation-for="@Model.address.state" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="number" class="form-control" asp-for="@Model.address.postcode" id="floatingPostCode" placeholder="3000">
                                        <label asp-for="@Model.address.postcode" for="floatingPostCode"></label>
                                        <span asp-validation-for="@Model.address.postcode" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" asp-for="@Model.address.country" id="floatingCountry" placeholder="Australia">
                                        <label asp-for="@Model.address.country" for="floatingCountry"></label>
                                        <span asp-validation-for="@Model.address.country" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row py-2" >
                            <div class="col-2"> <input asp-for="@Model.sameAd" id="chkAddress"/></div>
                                <div class="col">Use Diifferent Shipping Address From Account</div>
                                <span asp-validation-for="@Model.sameAd" class="text-danger validationSize"></span>
                            </div>
                            <h3 class="row heading3" style="margin:30px 0 10px 0">Shipping Method</h3>

                            <div class="row">

                                <div class="checkbox checkboxlist">
                                    @for (int i = 0; i < Model.shippingVariant.Count(); i++)
                                    {

                                        <input asp-for="@Model.selectedVariant" value="@Model.shippingVariant[i]" type="radio" checked="checked" /><label asp-for="@Model.shippingVariant[i]">@Model.shippingVariant[i]</label><br />

                                    }
                                </div>

                            </div>
                        </div>
                        <div class="col-3">

                        </div>
                        
                        <div class="col-6">
                            <h3 class="heading3">Cart Summary</h3>

                            <br />
                            <div class="row">
                                <table class="table table-sm table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Quantity</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.productList)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <img src="~/@item.image" style="max-width:150px;height:150px;" />
                                                </td>
                                                <td scope="col">@item.productName</td>
                                                <td scope="col">@item.price</td>
                                                <td scope="col">@item.productType.type</td>
                                                <td scope="col">@item.prodCount</td>

                                            </tr>
                                        }
                                        <tr class="table-borderless">
                                            <td scope="row"></td>
                                            <td></td>
                                            <td></td>


                                            <td colspan="2" class="py-3">
                                                <div class="row py-2"> <strong style="font-size:22px">Total: $@Model.cartList.Sum(m => m.totalCost)AUD</strong></div>

                                                <button type="submit" class="btn btn-secondary py-2" data-bs-dismiss="modal">Proceed to payment</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                        </div>

                    

                </div>
            </form>
  
        </div>}
</fieldset>

