﻿@model AVI_IT.Models.Service

<div class="container-sm">
    <form method="POST">

        <div class="row">
            <div class="col-4">@Html.LabelFor(m => m.serviceTitle)</div>
            <div class="col-4">@Html.TextBoxFor(m => m.serviceTitle)@Html.ValidationMessageFor(m => m.serviceTitle)</div>
        </div>
        <div class="row">
            <div class="col-4">@Html.LabelFor(m => m.serviceContent)</div>
            <div class="col-4">@Html.TextAreaFor(m => m.serviceContent)@Html.ValidationMessageFor(m => m.serviceTitle)</div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><button class="btn btn-primary" type="submit">Add</button></div>
        </div>
    </form>
</div>