﻿@model AVI_IT.Models.Service

    <div class="container-sm">
        <fieldset>
            @using (Html.BeginForm())
            {<div class="col-4">@Html.HiddenFor(m => m.serviceID)</div>
                <div class="row">
                    <div class="col-4">@Html.LabelFor(m => m.serviceTitle)</div>
                    <div class="col-4">@Html.EditorFor(m => m.serviceTitle)</div>
                </div>
                <div class="row">
                    <div class="col-4">@Html.LabelFor(m => m.serviceContent)</div>
                    <div class="col-4">@Html.EditorFor(m => m.serviceContent)</div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><button class="btn btn-primary" type="submit" asp-route-id="serviceID">Edit</button></div>
                </div>
            }
        </fieldset>

    </div>