﻿
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/slider-img1.jpg" />

            </div>
            <div class="carousel-item">
                <img src="~/images/slider-img2.jpg" />

            </div>
            <div class="carousel-item">
                <img src="~/images/slider-img3.png" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container p-2">
    <div class="form-row ">
        <div class="col-7 p-5 border">

            <div class="row d-flex ">
                <div class="row">
                    <h3 class="heading3">About Us</h3>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/slider-img1.jpg" class="images"/>
                    </div>
                    <div class="col-6">
                        Aviv IT – The Best networking service providers in Melbourne.
                        <br />
                        Aviv-IT provides ICT Consultancy, Sales and Support Services dedicated to provide high quality and reliable ICT Solutions, Products, Consulting, Networking, VOIP & Security Systems.
                        <br />
                        Aviv-IT is incorporated with the aim of providing economic solutions to the ever-increasing IT and Communication demands of organizations. Aviv-IT is a customer service-oriented organization.
                        <br />
                        We always strive to build long-term relationship with our clients by providing cost effective and quality services on schedule.
                        <br />
                        Aviv IT Networks, among the best networking service providers in Melbourne, has a team of handpicked engineers.
                        <br />
                        They have the best experience and passion for handling network technologies and a specialized group offering
                        smart Wi-Fi services to hospitality, Restaurants, Malls, retails, education, hospitals, etc.
                        <br />
                        Aviv IT’s alliances with reputed vendors for every product has earned us a remarkable place in the industry
                        within a minimum span of time.
                        <br />Aviv IT the best networking service providers in Melbourne, Australia offers services
                        that are diverse in nature and covers wide range of business needs and technologies that revolve around a set of principles and values.
                        <br />
                        Aviv IT takes the initiatives to lead the industry by implementing the latest and cutting edge technologies after thorough evaluation
                        to satisfy the ever-increasing demands of our customers.
                    </div>
                </div>
            </div>

            <br />

            <div class="row ">

                <div class="row text-center">
                    <h3 class="heading3">Feature Products</h3>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/slider-img1.jpg" class="images" />
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."
                    </div>
                    <div class="col-6">
                        <img src="~/images/slider-img1.jpg" class="images" />
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."
                    </div>
                </div>
                <br />
                <div class="row p-3">
                    
                    <button type="button" class="btn btn-primary form-control">@Html.ActionLink("Shop Now", "Index", "OnlineShopping")</button>
                </div>

            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-4 p-5 border">
            <h3 class="heading3">News/Articles</h3>
            <div class="row  p-2">
                <div class="card bg-dark text-white">

                    <img src="~/images/slider-img3.png" class="overlay-images" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row p-2">
                <div class="card bg-dark text-white">

                    <img src="~/images/slider-img3.png" class="overlay-images" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row p-2">
                <div class="card bg-dark text-white">

                    <img src="~/images/slider-img3.png" class="overlay-images" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row p-2 ">
                <div class="card bg-dark text-white">

                    <img src="~/images/slider-img3.png" class="overlay-images" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row p-5  ">
        <div class="row">
            <h3 class="heading3">Messages From CEO</h3>
        </div>
        <br />
        <div class="row">

            <div class="col-7">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."
            </div>
            <div class="col-1">

            </div>
            <div class="col-4">
                <img src="~/images/slider-img1.jpg" class="images" />
            </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="row">
            <h3 class="heading3">Services</h3>
        </div>
        <div class="row">
            <div class="card-deck ">
                <div class="card ">
                    <img class="card-img-top " src="~/images/slider-img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary form-control">@Html.ActionLink("Go To Service", "Service", "Home")</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top " src="~/images/slider-img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary form-control">@Html.ActionLink("Go To Service", "Service", "Home")</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top  " src="~/images/slider-img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary form-control">@Html.ActionLink("Go To Service", "Service", "Home")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

