﻿@model IEnumerable<AVI_IT.Models.Service>

    <div class="container">
        <h2 style="text-align:center" class="heading3">Type of Services</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            
                @foreach (var ser in Model)
                {
            <div class="col p-3">
                <div class="card h-100 text-white bg-secondary  mb-3" style="max-width: 18rem;">
                    <div class="card-header text-warning font-weight-bold">@ser.serviceTitle</div>
                    <div class="card-body">
                        <p class="card-text">@ser.serviceContent</p>
                    </div>
                </div>
            </div>

                }
            

                </div>

            </div>
