﻿@model AVI_IT.ViewModels.CreateRoleViewModel

@{ ViewBag.Title = "Create a new role"; }
<div class="container-sm">

    <h3 class="heading3"> Create role</h3>
    <div class="row">
        <div class="col-9">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create Role</button>
                <input type="button" class=" btn btn-primary" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
</form>
        </div>
    </div>
</div>


