﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="container-sm">

    <b class="heading3">Roles</b>
    <table class=" table table-striped table-dark">

        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>

        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Name</td>
            </tr>
        }
    </table>
    <div class="col">
        <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("CreateRole", "Administration")'" />
    </div>
</div>

