﻿@model AVI_IT.ViewModels.ManageRoleViewModel

<div class="container-sm">
    <fieldset>
        @using (Html.BeginForm())
        {
            <table>
                <tr><td>@Html.LabelFor(m => m.userList)</td><td>@Html.DropDownListFor(m => m.userID, new SelectList(Model.userList, "Value", "Text"), "Select User", new { @class = "form-control" })</td></tr>
                <tr><td>@Html.LabelFor(m => m.roleList)</td><td>@Html.DropDownListFor(m => m.roleID, new SelectList(Model.roleList, "Value", "Text"), "Select Role", new { @class = "form-control" })</td></tr>

                <tr><td></td><td><button type="submit">Add Role to the user</button></td></tr>

            </table>
          }
    </fieldset>

</div>
