﻿@model List<AVI_IT.ViewModels.ManageUserRolesViewModel>
<div class="container">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Manage User Roles</h2>
                Add/Remove Roles for User / @ViewBag.UserName.
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
    <div class="form-check m-1">
        <input type="hidden" asp-for="@Model[i].RoleId" />
        <input type="hidden" asp-for="@Model[i].RoleName" />
        <input asp-for="@Model[i].Selected" class="form-check-input" />
        <label class="form-check-label" asp-for="@Model[i].Selected">
            @Model[i].RoleName
        </label>
    </div>  }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Update" class="btn btn-primary"
                       style="width:auto" />
                <input type="button" class=" btn btn-primary" value="Cancel" onclick="location.href='@Url.Action("Index", "UserRoles")'" />
            </div>
        </div>
    </form>

</div>
