﻿@model AVI_IT.ViewModels.TransactionViewModel

    <div class="container">
        @{Html.BeginForm("CreateDocument", "Transaction", FormMethod.Get);
            {@Html.DropDownListFor(m => m.customerName, new SelectList(@Model.customerList, "Value", "Text"), "Select a customer", new { @class = "form-control" })

            <div>
                <input type="submit" value="Create Document" style="width:150px;height:27px" />
            </div>
        }
        Html.EndForm();
        }

    </div>

