﻿@model AVI_IT.Models.ProductType
@{ 
    ViewData["Title"] = "Create";
}
<br/>

<h2 class="text-info">Create product type</h2>
<form asp-action="Create" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.type)
            </div>
            <div class="col-5">
                @Html.EditorFor(m => m.type, new { @class = "form-control" })
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>