﻿@model AVI_IT.Models.ProductType
@{
    ViewData["Title"] = "Delete";
}
<br />

<h2 class="text-info">Delete product type</h2>
<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.typeID)
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.type)
            </div>
            <div class="col-5">
                <input asp-for="type" readonly="readonly" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            
             <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>
<script src="~/javascript/Delete.js"></script>