﻿@model AVI_IT.Models.ProductType
@{
    ViewData["Title"] = "Details";
}
<br />

<h2 class="text-info">Product type details</h2>
<form asp-action="Details" method="post">
    <div class="p-4 rounded border">
        @Html.HiddenFor(m => m.typeID)
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.type)
            </div>
            <div class="col-5">
                <input asp-for="type" readonly="readonly" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">

            <a asp-action="Edit" asp-route-id="@Model.typeID" class="btn btn-primary">Edit</a>
            <input type="submit" class="btn btn-success" value="Back to list" />
        </div>
    </div>
</form>