﻿@using AVI_IT.Models;
@model IEnumerable<ProductType>
@{ 
    ViewData["Title"] = "Index";
}

<br/><br/>
     <div class="container">
             <div class="row">
                 <div class="col-6">
                     <h2 class=" text-info">List of Product Types</h2>
                 </div>
                 <div class="col-6 text-right">
                     <a asp-action="Create" class="btn btn-info">&nbsp; New Product Type</a>
                 </div>
             </div>
             <br />
             <div>
                 <table class="table table-striped border">
                     <tr class="table-info">
                         <th>
                             @Html.DisplayNameFor(m => m.type)
                         </th>
                         <th></th>
                     </tr>
                     @foreach (var item in Model)
                     {
                         <tr>
                             <td>@item.type</td>
                             <td>
                                 <partial name="_ButtonPartial" model="@item.typeID" />
                             </td>

                         </tr>
                     }
                 </table>
                 <div class="col">
                     <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
                 </div>
             </div>
     </div>
