﻿
@model AVI_IT.ViewModels.ProductViewModel

<div class="container">

    <div class="card mb-3" style="max-width: 540px;border:thick;">
        <div class="row g-0">
            <div class="col-md-4">

                <img src="~/images/product1.jpg" style="max-width:100px;height:100px;" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title">$@Html.DisplayFor(m => m.price)</h6>
                    <p class="card-text">@Html.DisplayFor(m => m.productName)Name</p>
                    @*<div class="row">
                        <p class="card-text" style="font-size:12px;">Quantity: @Html.DisplayFor(m => m.cart.quantity)</p>

                    </div>*@

                </div>
            </div>
        </div>
        <div class="row">

            @*<div class="col font-weight-bold" style="color:white;">
                Total: $@Html.DisplayFor(m => m.cart.totalprice) 33
            </div>*@

        </div>
    </div>


</div>




