﻿
<fieldset>
    @using (Html.BeginForm())
    {
        <h2 style="text-align:center;font-weight:bold">Registration successfull</h2>
        <div class="col-8" style="text-align:center">
            <div class="btn btn-info btn-sm">
                @Html.ActionLink("Go to Login", "Login", "Account")
            </div>
        </div>
    }
</fieldset>
