﻿@model AVI_IT.ViewModels.LoginViewModel
@{
    ViewBag.Title = "User Login";
}

<fieldset>
    @using (Html.BeginForm())
    {
        <div class="container">

            <form method="post">
                <div class="form-group">
                    <div class="row m-4 text-center">

                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <h2 style="text-align:center;font-weight:bold">Login</h2>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-4" style="text-align:left">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger validationSize"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-4" style="text-align:left">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger validationSize"></span>
                            <div class="text-danger validationSize" style="text-align:left" asp-validation-summary="ModelOnly"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-4" style="text-align:left">

                        </div>
                        <div class="col-lg-4">
                            <input asp-for="RememberMe" />

                            <label asp-for="RememberMe"></label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row m-3">
                        <div class="col-4" style="text-align:left">

                        </div>
                        <div class="col-lg-4" >
                            <a asp-action="ForgotPassword">Forgot Password?</a>
                        </div>


                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3 validationSize">
                            <dnt-captcha asp-captcha-generator-max="999999"
                                         asp-captcha-generator-min="111111"
                                         asp-captcha-generator-language="English"
                                         asp-captcha-generator-display-mode="ShowDigits"
                                         asp-use-relative-urls="true"
                                         asp-placeholder="Enter Captcha"
                                         asp-font-name="Tahoma"
                                         asp-font-size="20"
                                         asp-fore-color="#333333"
                                         asp-back-color="#ccc"
                                         asp-text-box-class="text-box form-control"
                                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span>{0}"
                                         asp-validation-error-message="Please enter the security code"
                                         asp-validation-message-class="text-danger"
                                         asp-refresh-button-class="fas fa-redo btn-sm"
                                         asp-use-noise="false" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-4">

                    </div>

                    <div class="col-8" style="text-align:left">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                </div>


            </form>


            <div class="row">

                <div class="col-4">

                </div>
                <div class="col-4">
                    <div class="or-seperator"><b>or</b></div>
                    @if (Model != null && Model.ExternalLogins != null)
                    {

                    
                        @if (Model.ExternalLogins.Count == 0)
                        {
                            <div>No external logins are configured</div>
                        }
                        else
                        {
                            <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                <div>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <div class="row py-2">
                                            
                                            @if (@provider.Name.ToLower() == "facebook")
                                            {
                                                @if(Model.flag.ToUpper() == "YES")
                                                {   
                                                     <button type="submit" class="btn bg-primary"
                                                        name="provider" value="@provider.Name"
                                                        title="Login using your @provider.DisplayName account" style="color:white;font-weight:700">
                                                    <span class="btn btn-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                                        </svg>
                                                    </span>
                                                    Login With @provider.DisplayName
                                                     </button>
                                                }
                                               
                                            }
                                            else
                                            {

                                                <button type="submit" class="btn bg-danger"
                                                        name="provider" value="@provider.Name"
                                                        title="Login using your @provider.DisplayName account"
                                                        style="color:white;font-weight:700">
                                                    <span class="btn btn-danger">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                                        </svg>
                                                    </span>
                                                    Login With @provider.DisplayName
                                                </button>
                                            }

                                        </div>
                                    }
                                </div>

                            </form>
                        }
                    }
                </div>
            </div>

            <div class="text-center py-3" style="color: forestgreen;margin: 10px 0 10px 0">
                Not Have an Account?
                <div class="btn btn-info btn-sm">
                    @Html.ActionLink("Sign Up Here", "Register", "Account")
                </div>

            </div>
        </div>

    }
</fieldset>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>


