﻿@model AVI_IT.ViewModels.RegisterViewModel

<fieldset>
    @using (Html.BeginForm())
    {
<div class="container">
    <div class="signup-form">
        <form method="post">
            <div class="form-group">

                <h2>Create an Account</h2>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="firstName"></label>
                    </div>
                    <div class="col">
                        <input asp-for="firstName" class="form-control" />
                        <span asp-validation-for="firstName" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="lastName"></label>
                    </div>
                    <div class="col">
                        <input asp-for="lastName" class="form-control" />
                        <span asp-validation-for="lastName" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="phone"></label>
                    </div>
                    <div class="col">
                        <input asp-for="phone" class="form-control" />
                        <span asp-validation-for="phone" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="email"></label>
                    </div>
                    <div class="col">
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="password"></label>
                    </div>
                    <div class="col">
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="confirmPassword"></label>
                    </div>
                    <div class="col">
                        <input asp-for="confirmPassword" class="form-control" />
                        <span asp-validation-for="confirmPassword" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="addressLine1"></label>
                    </div>
                    <div class="col">
                        <input asp-for="addressLine1" class="form-control" />
                        <span asp-validation-for="addressLine1" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="suburb"></label>
                    </div>
                    <div class="col">
                        <input asp-for="suburb" class="form-control" />
                        <span asp-validation-for="suburb" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="postcode"></label>
                    </div>
                    <div class="col">
                        <input asp-for="postcode" class="form-control" />
                        <span asp-validation-for="postcode" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="state"></label>
                    </div>
                    <div class="col">
                        <input asp-for="state" class="form-control" />
                        <span asp-validation-for="state" class="text-danger validationSize"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row m-3">
                    <div class="col-4" style="text-align:left">
                        <label asp-for="country"></label>
                    </div>
                    <div class="col">
                        <input asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="text-danger validationSize"></span>
                        <div class="text-danger validationSize" style="text-align:left" asp-validation-summary="ModelOnly"></div>
                    </div>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-4">
                    I have read and understood the @Html.ActionLink("Privacy Policy", "Display", "PrivacyPolicy", null, new { style = "color:Blue;" })
                </div>

                <div class="col-8" style="text-align:left">
                    <input asp-for="IsChecked">
                    <span asp-validation-for="IsChecked" class="text-danger validationSize"></span>
                </div>

            </div>
            <div class="row m-3">
                <div class="col-4">

                </div>
                <div class="col-8">
                    <div class="input-group mb-3 validationSize">
                        <dnt-captcha asp-captcha-generator-max="999999"
                                     asp-captcha-generator-min="111111"
                                     asp-captcha-generator-language="English"
                                     asp-captcha-generator-display-mode="ShowDigits"
                                     asp-use-relative-urls="true"
                                     asp-placeholder="Enter Captcha"
                                     asp-font-name="Tahoma"
                                     asp-font-size="20"
                                     asp-fore-color="#333333"
                                     asp-back-color="#ccc"
                                     asp-text-box-class="text-box form-control"
                                     asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span>{0}"
                                     asp-validation-error-message="Please enter the security code"
                                     asp-validation-message-class="text-danger"
                                     asp-refresh-button-class="fas fa-redo btn-sm"
                                     asp-use-noise="false" />
                    </div>
                </div>

            </div>

            <div class="row m-3">
                <div class="col-4">

                </div>

                <div class="col-8" style="text-align:left">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </div>

            

        </form>
    </div>
    </div>}
</fieldset>

