﻿<div class="container-sm">
        <br />
        <br />
        <b>Your payment was succcessful</b>
        <br />
        <br />
        <div class="col">
            <a asp-action="Index" asp-controller="OnlineShopping">
                <input type="button" class="btn btn-info btn-sm" value="Continue shopping" />
            </a>
            <a asp-action="Home" asp-controller="Home">
                <input type="button" class="btn btn-info btn-sm" value="Home page" />
            </a>
        </div>
</div>