﻿<div class="container">
    <br />
    <br />
    <b>Your payment was unsucccessful</b>
    <br />
    <br />
    <div class="col">
        <a asp-action="Cart" asp-controller="OnlineShopping">
            <input type="button" class="btn btn-info btn-sm" value="Back to Cart" />
        </a>
    </div>
</div>