﻿@model AVI_IT.ViewModels.ProductViewModel

@{
    Layout = "_Layout2";
}

<div class="container">
    <div class="row p-3">

        <div class="col-6 p-2">
            <p class="heading3">Product Detail</p>
            @await Component.InvokeAsync("ProductSummary")
            <button class="btn btn-lg btn-warning" onclick="myFunction()"> Edit</button>
           
        </div>
        <div class="col-1">

        </div>
        <div class="col-5">
            <p class="heading3">Shipping Information</p>
            @await Component.InvokeAsync("ShippingDetail")
        </div>
    </div>
</div>

<script>
    function myFunction() {

        if (window.confirm("Do you want to leave this page?")) {
            window.location.href = "https://localhost:44316/OnlineShopping/Index";
        } else {
            console.log("No")
        }

    }

</script>




