﻿@model AVI_IT.ViewModels.JobPortalViewModel


@using (Html.BeginForm("SearchJobs", "JobPortal", FormMethod.Get))
{
    <div class="row">
        @Html.DisplayFor(m => m.jobTitle)

    </div>

    @*<div class="col-sm-5">
            @Html.TextBoxFor(m => m.jobLocation, new
            {
            @class = "form-control me-2",
            @type = "Search",
            @placeholder = "State/City"
            })

        </div>*@

    <div class="row">
        @Html.TextBox("jobTitle")
    </div>
    <div class="col-2">

    </div>
    <div class="row py-2">
        <input type="submit" value="Search" button class="btn btn-primary" />
    </div>

   
    


}
