﻿@model AVI_IT.ViewModels.BlogViewModel


<div class="container">
    <fieldset>
        @using (Html.BeginForm())
        {
            <div class="row m-4 text-center">

                <div class="col-4">

                </div>
                <div class="col-4">
                    <h2 style="text-align:left;font-weight:bold">Create a Blog</h2>
                </div>
            </div>


            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Blog Title</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.blogTitle, new { @class = "form-control", id = "name", name = "name", placeholder = "Enter Blog Title", value = "" })@Html.ValidationMessageFor(model => model.blogTitle,
"", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.blogContent, new { @class = "form-control" })@Html.ValidationMessageFor(model => model.blogContent,
"", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Post Blog" class="btn btn-primary">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <! Will be used to display an alert to the user>
                </div>
            </div>

        }

    </fieldset>
</div>
