﻿@using AVI_IT.Models
@model IEnumerable<AVI_IT.ViewModels.BlogViewModel>


<div class="container">




    @foreach (var v in Model)
    {
        <h1 class="blogTitle">@v.blogTitle</h1>
        <p id="blogAuthor">@v.firstName | @v.publishedDate</p>
        <img src="~/images/slider-img3.png" id="blogImage" />
        <p class="subHeading">SubHeading</p>
        <p id="blogContent">
            @v.blogContent
        </p>

    }


    @*for user commenting*@



    @await Component.InvokeAsync("Comment", Model)

    <hr />
    <h4 class="commentHeading">All Comments</h4>

    <div id="allComments">


        @foreach (var b in Model)
        {
            @foreach (var comm in b.Comments)
            {
                <div class="row py-3">
                    <div class="col-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    @comm.userName :
                    </div>


                    <div class="col-8">

                        @comm.comment

                    </div>
                </div>

            }

        }


    </div>
            
</div>


