﻿@model IEnumerable<AVI_IT.ViewModels.BlogViewModel>
@*using for loop to display all the blog in database*@


    <div class="container">
        <h3 class="heading3" style="font-size:30px;text-align:left">All Blog</h3>
        <h3 class="heading3" style="font-size:30px;text-align:left">
        Contact Us For Posting Your Own Blog <button type="submit" class="btn btn-info">@Html.ActionLink("Email Us", "Email", "Comm")</button> 
        </h3>
       
        <div class="row">
            <div class="col-6">

                @foreach (var v in Model)
            {
                <div class="card text-center" style="margin:20px 0 0 0" onclick="location.href = '@(Url.Action("Display", "Blog", new { @bp = v.blogID }))'">
                    <div class="card-header bg-info" style="font-size:22px">
                        @Html.HiddenFor(m => v.blogID)
                        @v.blogTitle
                    </div>
                    <div class="card-body bg-transparent">
                        @*<h5 class="card-title">Summary Content </h5>*@

                        <p class="card-text">
                            <img src="~/images/alternative_pic.png" />
                        </p>
                        <div class="card-footer text-muted ">
                            @v.publishedDate.ToShortDateString()| @(v.firstName + " " + v.lastName)
                        </div>

                    </div>
                </div>
            }
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="position-sticky">
                    <h3 class="heading3">News/Articles</h3>
                    <div class="row  p-2">
                        <div class="card bg-dark text-white">

                            <img src="~/images/slider-img3.png" class="overlay-images" />
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 3 mins ago</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row p-2">
                        <div class="card bg-dark text-white">

                            <img src="~/images/slider-img3.png" class="overlay-images" />
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 3 mins ago</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row p-2">
                        <div class="card bg-dark text-white">

                            <img src="~/images/slider-img3.png" class="overlay-images" />
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 3 mins ago</p>
                            </div>
                        </div>
                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
