﻿@model IEnumerable<AVI_IT.ViewModels.BlogViewModel>
@*using for loop to display all the blog in database*@

<style>
    #sortable tr:hover {
        background: #2c698d;
        color: #fff;
    }

</style>


<div class="container">
    <h3 class="heading3">All Blog Posts</h3>
    <div class="card text-center p-2">
        <div class="card-body bg-transparent">
            

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Blog Title</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Author</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="sortable" style="cursor:pointer;">
                    @foreach (var v in Model)
                    {
                        <tr >
                            <td  onclick="location.href = '@(Url.Action("Display", "Blog", new { @bp = v.blogID }))'">@v.blogID</td>
                            <td>@v.blogTitle</td>
                            <td>@v.publishedDate.ToShortDateString()</td>
                            <td>@(v.firstName + " " + v.lastName)</td>
                            @*<td>@Html.ActionLink("Edit", "Edit", "Blog", new { @Id = v.blogID })</td>*@
                        <td>
                            <a class="btn btn-danger delete"
                               data-id="@v.blogID"
                               data-controller="Blog"
                               data-action="Delete"
                               data-body-message="Are you sure to delete this blog?">
                                Delete
                            </a>
                          
                            @* @Html.ActionLink("Delete", "Delete", "Blog", new { @Id = v.blogID })*@
                        </td>
                         
                        </tr>
                    }
                </tbody>
            </table>


            <button type="button" class="btn btn-outline-info">@Html.ActionLink("Add Blog", "AddBlog", "Blog")</button>
        </div>
        <div class="card-footer text-muted ">
            @*@Html.DisplayNameFor(m => m.publishedDate)| @Html.DisplayNameFor(m => m.firstName)*@
        </div>
    </div>

</div>
<script src="~/javascript/Delete.js"></script>