﻿@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http;
@using AVI_IT.Utilities
@inject IOptions<AVI_IT.Models.StripeSettings> Stripe
@model AVI_IT.Models.Order
@{
    Layout = "_Layout";
}
    <form action="/Payment/Charge" method="post">
        <div class="container">
            <h3 class="heading3" style="text-align:left; margin:0 0 25px 0">Review your Order</h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                         @Html.HiddenFor(m => m.ID)
                        <li class="list-group-item">Name: @Html.DisplayFor(m => m.user.firstName) @Html.DisplayFor(m => m.user.lastName)</li>
                        <li class="list-group-item">Email: @Html.DisplayFor(m => m.user.Email)</li>
                        <li class="list-group-item">Phone: @Html.DisplayFor(m => m.user.PhoneNumber)</li>
                        <li class="list-group-item">Address: @Html.DisplayFor(m => m.orderAddressLine1)</li>
                        <li class="list-group-item">Suburb: @Html.DisplayFor(m => m.orderSuburb)</li>
                        <li class="list-group-item">Postcode: @Html.DisplayFor(m => m.orderPostcode)</li>
                        <li class="list-group-item">State: @Html.DisplayFor(m => m.orderState)</li>
                        <li class="list-group-item">Country: @Html.DisplayFor(m => m.orderCountry)</li>
                    </ul>
                    @Html.HiddenFor(m => m.ID)
                    <div class="card text-center" style="margin:20px 0 0 0">
                        <div class="card-header">
                            More Detail
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Total Cart Amount: $@Html.DisplayFor(m => m.totalCartPrice)</h5>
                            <h5 class="card-title">Shipping: @Html.DisplayFor(m => m.selectedVariant)</h5>
                            <h5 class="card-title">Total to pay: $@Html.DisplayFor(m => m.grandTotal) AUD</h5>

                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <script src="//checkout.stripe.com/v3/checkout.js"
                                        class="stripe-button"
                                        data-key=@Model.keys.publicKey
                                        data-locale="auto"
                                        data-description="Payment"
                                        data-amount="@Model.keys.amount">
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    @foreach (var item in Model.productList)
                    {
                        <div class="row py-2">
                            <div class="col-4">
                                <img src="~/@item.image" alt="image" width="150" height="150" style="border-radius: 5px; border: 1px solid #808080" />
                            </div>
                            <div class="col-8">
                                <ul class="list-group">
                                    <li class="list-group-item">Product: @Html.DisplayFor(m => item.productName)</li>
                                    <li class="list-group-item">Type: @Html.DisplayFor(m => item.productType.type)</li>
                                    <li class="list-group-item">Price: @Html.DisplayFor(m => item.price)</li>
                                    <li class="list-group-item">Quantity: @Html.DisplayFor(m => item.prodCount)</li>
                                </ul>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.productCartID)
                        @Html.HiddenFor(m => m.totalCartPrice)
                        @Html.HiddenFor(m => m.grandTotal)
                        @Html.HiddenFor(m => m.selectedVariant)
                        @Html.HiddenFor(m => m.orderAddressLine1)
                        @Html.HiddenFor(m => m.orderCountry)
                        @Html.HiddenFor(m => m.orderPostcode)
                        @Html.HiddenFor(m => m.orderState)
                        @Html.HiddenFor(m => m.orderSuburb)
                    }
                </div>
            </div>
            <br />
           
           @* <div class="row">
                <div class="col">
                    Total Cart Amount: $@Html.DisplayFor(m => m.totalCartPrice)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Shipping: @Html.DisplayFor(m => m.selectedVariant)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    Total to pay: $@Html.DisplayFor(m => m.grandTotal) AUD
                </div>
            </div>*@
           
        </div>
        

    </form>


