﻿@model AVI_IT.Models.Product
@{
    ViewData["Title"] = "Create";
}
<br />

<h2 class="text-info">Create new product</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.productName)
            </div>
            <div class="col-5">
                @Html.EditorFor(m => m.productName, new { @class = "form-control" })
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.typeID)
            </div>
            <div class="col-5">
                @*@Html.EditorFor(m => m.typeID, new { @class = "form-control" })*@
                <select asp-for="typeID" asp-items="ViewBag.typeID" class="form-control"></select>
                <span asp-validation-for="typeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.image)
            </div>
            <div class="col-5">
                <input asp-for="image" class="form-control" type="file" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.productDes)
            </div>
            <div class="col-5">
                @Html.EditorFor(m => m.productDes, new { @class = "form-control" })
                <span asp-validation-for="productDes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.price)
            </div>
            <div class="col-5">
                @Html.EditorFor(m => m.price, new { @class = "form-control" })
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.stock)
            </div>
            <div class="col-5">
                @Html.EditorFor(m => m.stock, new { @class = "form-control" })
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>