﻿@model AVI_IT.Models.Product
@{
    ViewData["Title"] = "Delete";
}
<br />

<h2 class="text-info">Delete Product</h2>
<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(m => m.productName)
                </div>
                <div class="col-8">
                    @Html.HiddenFor(m => m.productID)
                    @Html.EditorFor(m => m.productName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(m => m.typeID)
                </div>
                <div class="col-8">
                    @Html.EditorFor(m => m.productType.type, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @*<select asp-for="typeID" asp-items="ViewBag.typeID" class="form-control"></select>
                        <span asp-validation-for="typeID" class="text-danger"></span>*@
                </div>
            </div>
            @*<div class="form-group row">
                    <div class="col-4">
                        @Html.LabelFor(m => m.image)
                    </div>
                    <div class="col-8">
                        <input asp-for="image" class="form-control" type="file" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                </div>*@
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(m => m.productDes)
                </div>
                <div class="col-8">
                    @Html.EditorFor(m => m.productDes, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span asp-validation-for="productDes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(m => m.price)
                </div>
                <div class="col-8">
                    @Html.EditorFor(m => m.price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(m => m.stock)
                </div>
                <div class="col-8">
                    @Html.EditorFor(m => m.stock, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span asp-validation-for="stock" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <h3 class="text-danger">Are you sure you want to Delete this product?</h3>
                
                <input type="submit" asp-action="Delete" asp-route-id="@Model.productID" class="btn btn-danger" value="Delete" />
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>

        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.image" alt="image" width="150" height="150" style="border-radius: 5px; border: 1px solid #808080" />
        </div>


    </div>

</form>
<script src="~/javascript/Delete.js"></script>