﻿@using AVI_IT.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class=" text-info">List of Products</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info">&nbsp; Add New Product</a>
        </div>
    </div>
    <br />

    <table class="table table-striped border">
        <thead>
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(m => m.productName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.typeID)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.price)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.productDes)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.stock)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.image)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.productName</td>
                    <td>@item.productType.type</td>
                    <td>@item.price</td>
                    <td>@item.productDes</td>
                    <td>@item.stock</td>
                    <td><img src="~/@item.image" alt="image" width="50" height="50" style="border-radius: 5px; border: 1px solid #808080" /> </td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.productID" />
                    </td>

                </tr>
            }
        </tbody>

    </table>
    <div class="col">
        <input type="button" class=" btn btn-primary form-control" value="Back" onclick="location.href='@Url.Action("Index", "AdminPage")'" />
    </div>
</div>

