﻿@model AVI_IT.ViewModels.TransactionViewModel
    <form action="/Transaction/SelectCustomer" method="post">

        @Html.DropDownListFor(m => m.customerName, new SelectList(@Model.customerList, "Value", "Text"), "Select a customer", new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
        
